{% extends "blog/base.html" %}
{% load crispy_forms_tags %}
{% block content %}

    <div class="row">
        <div class="col-md-8">
            <script src="https://kit.fontawesome.com/a076d05399.js"></script>
            <h1>Upload Books  <i class="fas fa-book"></i></h1>
            <br>

            <div class="content-section">
                <form method="post"  enctype="multipart/form-data">
                    {% csrf_token %}
                    <fieldset class="form-group">

                        {{ form|crispy }}
                    </fieldset>
                    <div class="form-group">
                        <button type="submit" class="btn btn-info">Upload Book</button>
                    </div>

                </form>
            </div>
        </div>
    </div>



            {% endblock content %}
